/*  FILE: style.ccs
    DATE: 2022-06-22
*/



body{
    width:90%;
    margin: 0, auto;
    background-image:url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
    background-size: 2500px,2500px;
}



h1{

    text-align:center;
    font-size: 90px;
    font-weight: 100;
    border: 1500rem,black;
    border-style: solid;
    font-weight: bold;
}
h2{
    text-align:center;
    font-size: medium;
    border: 300rem, black;
    border-style: dashed;
    border-radius: 100px;
}

h3{
    text-align:center;
    font-size: medium;
    border: 300rem, black;
    border-style: dashed;
    border-radius: 100px;
}
h3 ul{
    text-align:left;
}

h4{
    text-align: left;
    font-size: medium;

}

h5{
    text-align:left;
    font-size: medium;
}

h6{
    text-align: left;
    font-size:medium;
    
}
button{
    text-align: center;
}
