/*  FILE: style.ccs
    DATE: 2022-06-22
*/



body{

    background-color: aliceblue;
    margin: 0 auto;


}



h1{

    text-align:center;
    font-size: larger;
    font-weight: 200;
    
}

h2{
    text-align:center;
    font-size: medium;
}

h3{
    text-align:center;
    font-size: medium;
}

h4{
    text-align: left;
    font-size: medium;

}

h5{
    text-align:left;
    font-size: medium;
}

h6{
    text-align: left;
    font-size:medium;
    
}